.App-clock {

    .clock-container {
        font-size: 2.5em;
        font-weight: 700;
        margin-top: 0px;
        color: $color__cerulean-blue;
        font-family: $font__josefin;
        background-color: $color__smoky-black;
        @include module-container-styles;
        border: 4px solid $color__blue-green;
        letter-spacing: .17em;


        @include box-shadow;
    }
}