/* Colors ---------------------------------- */
$color__off-white: #efefef;
$color__cerulean-blue: #3454d1;
$color__blue-green: #34d1bf;
$color__smoky-black: #070707;
$color__french-wine: #ab2346;
/* Fonts ---------------------------------- */
$font__josefin: 'Josefin Sans',
sans-serif;
$font__raleway: 'Raleway',
sans-serif;
/* Transition timeouts ---------------------*/
$link_transition: 110ms;
$icon_transition: 120ms;
$button_transition: 150ms;
$background_transition: 200ms;